=render 'comments/aloha'
= simple_form_for(@question) do |f|
  = f.error_notification

  .form-inputs
    .control-group
      = f.input :title, :input_html => { :class => 'span8' }
      = f.input :content, :input_html => { :class => 'editable span8' }
      = f.input :code, :input_html => { :class => 'span8', rows: '1' }
    .control-group
      = f.label :tag_list
      %p#tag_cloud
        - tag_cloud Question.tag_counts, %w(label popular-label) do |tag, css_class|
          %span{class: css_class}= tag 
      = f.input_field :tag_list, input_html: { data: {load: @question.tags} }
    .control-group
      = f.input :anonymous, :label => false, :inline_label => 'Ask a question anonymously' 
      / current_user.points >= 10 && !@question.fast_answer
      - if current_user.points >= 10 && @question.fast_answer.nil?
        = f.input :fast_answer, :label => false, :inline_label => 'Ask a fast question (You need to spend 10 points to use this function.)'
      - else
        = f.input :fast_answer, :label => false, :inline_label => 'Ask a fast question', :disabled => true
        -if !@question.fast_answer
          = f.input :fast_answer, :as => :hidden, :input_html => { :value => false } 
      = f.input :deleted_question, :as => :hidden, :input_html => { :value => false } 
  %legend 
    Ask experts
  =render 'question_experts'
  - points = current_user.points.to_i
  %h5= "You have #{current_user.points} points. You need to spend 5 points to use this function."
  .row
    = f.simple_fields_for(:notifications, @notifications) do |g|
      - if points >= 5
        .span4
          = g.association :user, :collection => @experts, :prompt => "Choose a expert", :label => 'Ask an expert'
      - else
        .span4
          = g.association :user, :collection => @experts, :prompt => "Choose a expert", :label => 'Ask an expert', :disabled => true
      = g.input :read, :as => :hidden, :input_html => { :value => false }
      = g.input :content, :as => :hidden, :input_html => { :value => 'Pay 5 points' }
      - points = points - 5

  .form-actions.well
    .control-group.pull-right
      = link_to 'Cancel'.html_safe, :back, class: 'btn'
      = f.submit 'Post'.html_safe, class: 'btn btn-primary'