= simple_form_for(@question) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :content, :input_html => { :class => 'editable' }
    = f.input :code
    = f.input :error
    = f.input :tag_list, input_html: { data: {load: @question.tags} }
    = f.input :anonymous 
    = f.input :fast_answer

  %table
    %tr
      %td Name
      %td ID
    - @experts.each do |expert|
      %tr
        %td= expert.name
        %td= expert.id

  = f.simple_fields_for(:notifications) do |g|
    .form-inputs
      = g.association :user
      = g.input :read, hidden: true, input_html: { input: false }

  .form-actions
    = f.button :submit