= simple_form_for(@question) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :content, :input_html => { :class => 'editable' }
    = f.input :code
    = f.input :error
    #tag_cloud
      - tag_cloud Question.tag_counts, %w(label popular-label) do |tag, css_class|
        %span{class: css_class}= tag 
    = f.input :tag_list, input_html: { data: {load: @question.tags} }
    = f.input :anonymous 
    - if current_user.points >= 5
      = f.input :fast_answer, hint: "You have #{current_user.points} points. You need to spend 5 points to use this function."
    - else
      = f.input :fast_answer, hint: "You have #{current_user.points} points. You need at least 5 points to use this function.", :disabled => true

  %table
    %tr
      %td Name
      %td ID
    - @experts.each do |expert|
      %tr
        %td= expert.name
        %td= expert.id
  - points = current_user.points
  = f.simple_fields_for(:notifications) do |g|
    - if points >= 5
      .form-inputs
        = g.association :user, :collection => @experts, hint: "You have #{current_user.points} points. You need to spend 5 points to use this function."
        = g.input :read, :as => :hidden, :input_html => { :value => false }
    - else
      .form-inputs
        = g.association :user, :collection => @experts, hint: "You have #{current_user.points} points. You need to spend 5 points to use this function.", :disabled => true
        = g.input :read, :as => :hidden, :input_html => { :value => false }
    - points = points - 5

  .form-actions
    = f.button :submit