.row
  .span8
    = anonymous_user(@question)
    %b asked
.row
  .span6
    %h4= @question.title
  .span1
    %h2= @question.comments.count
    %p= 'Answers'
  .span1
    %h2= @question.usefuls.count
    %p= 'Useful'
.row
  .span8
    %p= raw @question.tag_list.map { |t| link_to t, questions_tags_path(t), class: "label" }.join(' ')
%hr
.row
  .span8
    %p= raw @question.content
.row
  .span8
    .form-actions
      - user_useful_array = @question.usefuls.where(user_id: current_user.id)
      = useful_question_link(user_useful_array, @question)
      - if @admin || @question_owner
        = link_to edit_question_path(@question), class: 'btn btn-small' do
          %i.icon-pencil
          Edit
      - if @question_owner || @admin || @teacher
        .btn-group.pull-right
          %a.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-cog
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to @question, :data => {:confirm => 'Are you sure?'}, :method => :delete do
                %i.icon-trash
                Delete