= simple_form_for(@comment) do |f|
  = f.error_notification
  .form
    = f.input :content, :label => false, :placeholder => "Please answer your friend's question",:input_html => { :class => 'editable span8'}
    = f.input :code, :as => :hidden, :input_html => { :value => 0 }
    = f.input :question_id, :as => :hidden, :input_html => { :value => @question.id } 
    = f.input :line, :as => :hidden, :input_html => { :value => 0 }
    - if @delayTAAnswer 
      = f.input :hidden, :as => :hidden, :input_html => { :value => true }
    - elsif @delayInstructorAnswer
      = f.input :hidden, :as => :hidden, :input_html => { :value => true }
    - else
      = f.input :hidden, :as => :hidden, :input_html => { :value => false }
    = f.input :anonymous, :label => false, :inline_label => 'Answer anonymously'
    = f.submit 'Answer', class: 'btn btn-primary pull-right'