%h1 Listing questions

%table
  %tr
    %th Title
    %th Content
    %th Code
    %th Error
    %th Anonymous
    %th User_id
    %th
    %th
    %th

  - @questions.each do |question|
    %tr
      %td= question.title
      %td= question.content
      %td= question.code
      %td= question.error
      %td= question.anonymous
      %td= User.find(question.user_id).name
      %td= pluralize(question.comments.count, "Answers")
      %td= link_to 'Show', question
      %td= link_to 'Edit', edit_question_path(question)
      %td= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Question', new_question_path
