%p#notice= notice

%p
  %b id
  = @question.id
%p
  %b Title:
  = @question.title
%p
  %b Content:
  = @question.content
%p
  %b Code:
  = @question.code
%p
  %b Error:
  = @question.error
%p
  %b Anonymous:
  = @question.anonymous
%p
  %b User_id:
  = anonymous_user?( @question )
%p 
  %b= pluralize(@question.comments.count, "Answers")

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
