.row
  .span7
    %hr
    = simple_form_for(@reply,:remote => true) do |f|
      = f.error_notification

      .form-inputs
        = f.input :content, label: false, input_html: { class: 'input-block-level', rows: '1'}, placeholder: 'Write a discussion'
        = f.input :comment_id, :as => :hidden, :input_html => { :value => comment.id } 

      .control-group
        = f.button :submit, 'Reply', class: 'btn btn-small pull-right'