%h1 Listing replies

%table
  %tr
    %th Content
    %th User
    %th Comment
    %th
    %th
    %th

  - @replies.each do |reply|
    %tr
      %td= reply.content
      %td= reply.user_id
      %td= reply.comment_id
      %td= link_to 'Show', reply
      %td= link_to 'Edit', edit_reply_path(reply)
      %td= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Reply', new_reply_path
