%p#notice= notice

%p
  %b Content:
  = @reply.content
%p
  %b User:
  = @reply.user_id
%p
  %b Comment:
  = @reply.comment_id

= link_to 'Edit', edit_reply_path(@reply)
\|
= link_to 'Back', replies_path
