.row
  .span2
  .span8
    .page-header
      %h1 Edit #{resource_name.to_s.humanize}
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      .well.form-horizontal
        .control-group
          .controls
            %p
              = image_tag user_gravatar(@user, 89), :class => "img-polaroid"
            %p.help-block
              You can change your profile picture at 
              = link_to 'Gravatar', 'http://gravatar.com/emails/'
              by your email.
        = f.input :name
        = f.input :email
        = f.input :password, hint: "Leave blank if you don't want to change it"
        = f.input :password_confirmation
        = f.input :school
        = f.input :sex, :collection => ['Female','Male']
        = f.input :level, :collection => ['Freshman','Sophomore', 'Junior', 'Senior', 'Graduate']
        .control-group.optional
          #tag_cloud
            - tag_cloud User.tag_counts, %w(label popular-label) do |tag, css_class|
              %span{class: css_class}= tag
        = f.input :tag_list, hint: 'Each tag is separated by a semicolon. Ex: algorithm, student, auburn'
        = f.input :current_password, hint: 'We need your current password to confirm your changes', :required => true
        .form-actions
          = link_to 'Cancel'.html_safe, :back, class: 'btn'
          = f.button :submit, class: 'btn btn-primary'