-if ! (current_user.has_role?(:student) && comment.hidden) || @question_owner
  .row
    .span6
      = anonymous_user(comment)
      %b= 'answered' 
      #{time_ago_in_words(comment.created_at)} ago.
    .span1.offset1
      %h2= comment.usefuls.count
      %p= 'Useful'
  -if @question_owner && comment.hidden
    =render 'comments/question_owner_content', comment: comment
  -elsif @teacher && comment.hidden
    =render 'comments/teacher_content', comment: comment
  -else
    =render 'comments/normal_content', comment: comment