= simple_form_for(@comment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :content
    = f.input :code
    = f.input :anonymous
    = f.input :question_id, :as => :hidden, :input_html => { :value => @comment.question_id }
    = f.input :line, :as => :hidden, :input_html => { :value => 0 }
    = f.input :hidden, :as => :hidden, :input_html => { :value => false }
  .form-actions
    = f.button :submit
