%p#notice= notice

%p
  %b ID
  = @comment.id
%p
  %b Content:
  = @comment.content
%p
  %b Line:
  = @comment.line
%p
  %b Code:
  = @comment.code
%p
  %b Anonymous:
  = @comment.anonymous
%p
  User_id: #{anonymous_user?( @comment )}
%p
  Question_id: #{@comment.question_id}

= link_to 'Edit', edit_comment_path( @comment )
\|
= link_to 'Back', comments_path
