%p#notice= notice

%p
  %b Content:
  = @comment.content
%p
  %b Line:
  %p
    = @comment.line
%p
  %b Code:
  = @comment.code
%p
  %b Anonymous:
  = @comment.anonymous
%p
  %b User_id:
  = @comment.user_id
%p
  Question_id:
  = @comment.question_id

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
