.row
  .span2
  .span8
    .page-header 
      %h1= @user_feedback.title
    .row
      .span8
        %p
          = @user_feedback.content
    .row 
      .span1
        = show_type_feedback @user_feedback.type_feedback
      .span1
        = close_status @user_feedback.close
      .span5
        - user = User.find(@user_feedback.user_id)
        = image_tag user_gravatar(user, 34) 
        = user.name
        %strong= 'posted'
        #{time_ago_in_words(@user_feedback.created_at)} ago.
    .row
      .span8
        =render @user_replies
        =render 'user_feedback_replies/form'