.row
  .span7
    %hr
    = simple_form_for(@user_feedback_reply) do |f|
      = f.error_notification

      .form-inputs
        = f.input :user_feedback_id, :as => :hidden, :input_html => { :value => @user_feedback.id }
        = f.input :content, label: false, input_html: { class: 'input-block-level', rows: '3'}

      .control-group
        = f.button :submit, 'Reply', class: 'btn btn-small pull-right'
