%div{ id: "notification_#{notification.id}"}
  .row
    .span4
      - comment = Comment.find(notification.sendable_id)
      - user = comment.user
      %p
        %i.icon-question-sign
        You got an answer from 
        = link_to user.name, user
    .span2
      = time_ago_in_words(notification.created_at) + ' ago'
    .span2
      = read_link(notification)
  .row
    .span8
      %p
        - question = comment.question
        = link_to question.title, question
  .row
    .span8
      %hr