%h1 Listing notifications

%table
  %tr
    %th User
    %th Receiver
    %th Content
    %th Read
    %th
    %th
    %th

  - @notifications.each do |notification|
    %tr
      %td= notification.user_id
      %td= notification.sender_id
      %td= notification.content
      %td= notification.read
      %td= link_to 'Show', notification
      %td= link_to 'Edit', edit_notification_path(notification)
      %td= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Notification', new_notification_path
