%p#notice= notice

%p
  %b User:
  = @notification.user_id
%p
  %b Receiver:
  = @notification.sender_id
%p
  %b Content:
  = @notification.content
%p
  %b Read:
  = @notification.read

= link_to 'Edit', edit_notification_path(@notification)
\|
= link_to 'Back', notifications_path
