%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}
%p
  School: #{@user.school}
%p
  Sex: #{@user.sex}
%p
  Level: #{@user.level}
%p
  Points: #{@user.points}
%p
  Z-Scores: #{@user.z_scores}
%p
  Tag list: #{raw @user.tag_list.map { |t| link_to t, users_tags_path(t), class: "label" }.join(' ')}
